<h1> Models </h1>

<% @model_types.each do |model| %>
    <h3><%= model.name %></h3>
    <p>Year Made:<%= model.year_made %></p>
    <p>Length:<%= model.naturally_asprirated %></p>
    <p>Forced Induction:<%= model.forced_induction %></p>
    <p>Horsepower:<%= model.horsepower %></p>
    <p>Mileage:<%= model.mileage %></p>

<% end %>