<h1><%= @model_types.name %></h1>

<p>Year Made: <%= @model_types.year_made %></p>
<p>Naturally Asprirated: <%= @model_types.naturally_asprirated %></p>
<p>Forced Induction: <%= @model_types.forced_induction %></p>
<p>Horsepower: <%= @model_types.horsepower %></p>
<p>Mileage: <%= @model_types.mileage %></p>